<!DOCTYPE html>
<html>
<head>
<title>My Site - Blog - New Post</title>
</head>
<body>
<article>
<h1>New Post</h1>

<form action="." method="post">
    {% csrf_token %}
    Title:<br>
    <input type="text" name="title"><br>
    Text:<br>
    <input type="text" name="text"><br>
    <input type="submit" value="Submit">
<form></form>
</article>
</body>
</html>
